
.contenedor-cuarta-seccion {
    display: flex;
    justify-content: center;

}

.cuarta-seccion {
    padding: 80px;
}
.contenido {
    text-align: center;
    margin-bottom: 30px;
    padding: 50px;
    font-size: 30px;
    width:100%;
}
.pie-de-img {
    padding: 20px;
    font-size: 25px;
    color: black;
}
.contenedor-proyectos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    margin-right: 100px;
    margin-left: 100px;
}
.contenedor-img-proyectos {
    background-color: white;
    width: 300px;
    height: 300px;
    font-weight: bold;
    box-shadow: 0 0 29px 0 rgba(245, 69, 151, 0.25);
    border: 1px solid lightgrey;
    border-radius: 8px;
    margin: 10px;
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
}

img {
    width: 180px;
    height: 180px;
}