* {
    margin: 0;
    font-family: 'Amatic SC', cursive;
    box-sizing: border-box;
}
.header{
    background-color: #fff;
    padding: 25px 0;
    box-shadow: 0 0 29px 0 rgba(134, 134, 134, 0.25);
    position: fixed;
    top: 0;
    transition: 0.4s;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    top: 0;
    left: 0;
    z-index: 1;

}

.header :hover{
    color:crimson;

}


.link:active{
    background-color: white;
    border-radius: 100px;
    box-shadow: 0px 0px 5px 0px rgba(221, 24, 122, 0.75);
    color: #8338ec;

}
.contenedor-img-proyectos:hover{
    border: 1px solid #ed64bd;
    box-shadow: 0 0 10px 0 #ed64bd;
}
.link .seleccionado .boton{
    transition: 0.2s;
}
.seleccionado{
    background-color: #e41687;
    color: white;
    margin-right: 20px;
    padding: 15px 40px;
    border-radius: 100px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}





h1{
    font-family: 'Amatic', cursive;
}

.link-navegacion {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    align-items: center;
    color: rgb(247,10,148);
    font-size: 25px;
   
}

.link {
    margin-right: 20px;
    padding: 15px;
}

.link:hover, .boton:hover, .boton-proyectos:hover, .link-footer:hover {
    border-radius: 10px;
    font-size: 30px;
}

.boton {
    
    background-color: rgb(247, 10, 148);
    border-radius: 20px;
    padding: 13px;
    margin-left:10px;
    font-size: 25px;
    width: 150px;
    text-align: center;
}

a, a:visited{
    text-decoration: none;
    color: black;
}



.hidden{
    
    transform: translateY(-500px);
}



body{
    margin: 0;
    height:100%;
    font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  color: #2e2e31;
}

@media(max-width:450px){
    .header{
        display:none;
    }
}



@media(max-width:650px){
    .header{
        display:none;

    }
    .link-navegacion{
        display:flex;
        justify-content: flex-end;
    }
   
    
    
    
    .primer-seccion {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 30px;
        width: 100%;
}
    .section {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 30px;
        width: 100%;
}
    
    }
   .aside{
       width:100%;

   }
   .botones-proyectos{
       display:flex;
   }
   .contenedor-proyectos{
       margin-right: 0;
       margin-left: 0;
   }
   .cuarta-seccion{
       padding: 20px;
   }
   .texto-footer{
       display: flex;
   }
     
    
        
    


   



@media (max-width: 900px) {

    .primer-seccion {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: end;
        font-size: 30px;
        width: 100%;
}
    .section {
        display: flex;
        flex-direction: column;
        align-items: center ;
        text-align: center;
        font-size: 30px;
        width: 100%;
}
   .aside{
       width:100%;

   }
   .botones-proyectos{
       display:flex;
   }
   .contenedor-proyectos{
       margin-right: 0;
       margin-left: 0;
   }
   .cuarta-seccion{
       padding: 20px;
   }
   .texto-footer{
       display: flex;
   }
     }